<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/greenmobility.css" />
    <title>Green Mobility</title>
    <style>
      .nav__logo img {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        max-width: 100px; /* Adjust max-width as needed */
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">
            <img src="/static/images/ecocar.gif" alt="Green Mobility Logo" />
            <span>Green Mobility</span>
          </a>
        </div>

        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Discover Electric Vehicles</a></li>
        <li><a href="/greenmob">Matching.io</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="container__left">
        <h1>Towards a greener future!</h1>
        <div class="container__btn">
          <a href="/greenform">
            <button class="btn">Join the Cause Now!</button>
          </a>
        </div>
      </div>
      <div class="container__right">
        <div class="images">
          <img
            src="/static/images/windmill.gif"
            alt="windmill"
            class="windmill"
          />
          <img
            src="/static/images/electriccar.png"
            alt="electriccar"
            class="electriccar"
          />
        </div>
        <div class="content">
          <h2>Green Mobility</h2>
          <p>
            This website section addresses the environmental consequences of
            using non-renewable fuels in transportation, detailing the benefits
            of switching to renewable energy sources and electric or hybrid
            vehicles. It offers practical steps for individuals to adopt more
            sustainable transportation methods, such as carpooling and using
            public transit, encouraging a shift towards a greener future.
          </p>
        </div>
      </div>
    </div>
    <div class="sdg-section">
      <h2>Sustainable Goals</h2>
      <div class="sdg-images">
        <div class="sdg-detail">
          <img
            src="/static/images/sdg7.gif"
            alt="SDG 7: Affordable and Clean Energy"
          />
          <span class="sdg-info"
            >SDG 7: Affordable and Clean Energy - Aims to ensure access to
            affordable, reliable, sustainable, and modern energy for all.</span
          >
        </div>

        <div class="sdg-detail">
          <img src="/static/images/sdg13.gif" alt="SDG 13: Climate Action" />
          <span class="sdg-info"
            >SDG 13: Climate Action - Aims to take urgent action to combat
            climate change and its impacts.</span
          >
        </div>
        <div class="sdg-detail">
          <img
            src="/static/images/sdg12.gif"
            alt="SDG 12: Responsible Consumption and Production"
          />
          <span class="sdg-info"
            >SDG 12: Responsible Consumption and Production - Aims to ensure
            sustainable consumption and production patterns.</span
          >
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/static/js/greenmobility.js"></script>
  </body>
</html>
